/.vs/
/.vscode/
/Debug/
/Release/
/env/
/output/
/x64/
*.exe
*.out
*.obj
*.csv
/*.vcxproj*
!headers/
*.json
*.zip
*.Rhistory
*.Rdata
*.tiff
!/configs/econConfig.json 
!/configs/bioConfig.json
/headers/boost/
/headers/cereal/
*.nb.html